<h2><i class="fa fa-briefcase"></i>Experiences</h2>

<div class="job">
  <header>
    <h3 class="title">Front End Developer</h3>
    <div>
      <div class="company">Valco Melton, Orcoyen, Spain</div>
      <div class="period">September 2016 - December 2016</div>
    </div>
  </header>
  <div class="details">
    <p>Practices developing web utilities for internal use, with the aim of improving the productivity of the company. Most
      of the projects were developed in HTML, CSS and JS, supported by <a href="http://backbonejs.org/" target="_blank">Backbone.JS</a>      and <a href="http://materializecss.com/" target="_blank">Materialize</a> libraries.</p>
  </div>
</div>

<div class="job">
  <header>
    <h3 class="title">SCADA Engineer</h3>
    <div>
      <div class="company">EOS, Orcoyen, Spain</div>
      <div class="period">July 2016 - September 2016</div>
    </div>
  </header>
  <div class="details">
    <p>Design and implementation of data acquisition system for real time SCADA system. The project involves collecting data
      from different systems on a solar power plant and then put it in a database. Data acquisition part was developed in
      C ++ using <a href="http://libmodbus.org/" target="_blank">libmodbus</a>. In addition, we implemented a NodeJS server
      to facilitate data insertion.
    </p>
  </div>
</div>