<h2><i class="fa fa-archive"></i>Projects</h2>

<div class="project">
  <header>
    <h3 class="title"><a href="http://jueces.fnaf.es/" target="_blank">CNavJ web app</a></h3>
    <p class="status">Under active development</p>
  </header>
  <div class="details">
    <p>Web application that allows to see the recent activity of the "Comité Navarro de Jueces de Atletismo", as well as to
      manage the designations, competitions, etc. It is developed using <a href="http://angular.io/" target="_blank">Angular2</a>,
      <a href="http://firebase.google.com/" target="_blank">Firebase</a> and <a href="http://material.angular.io/" target="_blank">Material2</a>.</p>
  </div>
</div>


<div class="project">
  <header>
    <h3 class="title"><a href="http://github.com/AlvaroOrduna/arduino-bluetooth-car" target="_blank">Arduino Bluetooth Car</a></h3>
    <p class="status">Finished</p>
  </header>
  <div class="details">
    <p>Car designed, assembled and programmed by me with the help of an <a href="https://www.arduino.cc/" target="_blank">Arduino</a>      board and a bluetooth module. It can be controlled with an Android mobile.</p>
  </div>
</div>