// Typography
$base-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$base-font-weight: 400;
$base-font-weight-bold: 700;
$title-font-weight: 550;

// Font sizes
$base-font-size: 16px;
$base-line-height: 1.8;

// Effects
$base-transition-speed: .4s;
