---
---

@import 'reset';
@import 'flex';
@import 'mixins';
@import 'variables';
@import 'palette';

body {
  min-height: 100vh;

  @include flexbox();
  @include flex-direction(column);

  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  text-align: justify;
  text-justify: inter-word;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  @include flex();
}

a {
  @include transition(all, $base-transition-speed, ease-in-out);
  text-decoration: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@import 'titles';
@import 'layouts/not-found';
@import 'layouts/portfolio';
