---
---

@import 'reset';
@import 'flex';
@import 'mixins';
@import 'variables';
@import 'palette';

body {
  min-height: 100vh;

  @include flexbox();
  @include flex-direction(column);

  background-color: $background-color;
  color: $primary-text-color;

  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  @include flex();
}

::selection {
  background-color: $primary-color;
  color: $primary-color-text;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@import 'titles';
@import 'links';
@import 'layouts/home';
@import 'layouts/not-found';
