<!doctype html>
<html lang="en">
{% include head.html %}

<body class="home noselect">
  <main role="main" class="light">

    <div class="profile">
      <img src="https://github.com/{{ site.social.github }}.png" alt="{{ site.name }} profile picture">
      <h1>{{ site.name }}</h1>
      <p>{{ site.slogan }}</p>
    </div>

    <div class="social">
      <a aria-label="Email" title="Send me an e-mail" target="_blank" href="mailto:{{site.social.email}}">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>

      <a aria-label="LinkedIn" title="Follow me on LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{site.social.linkedin}}">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>

      <a aria-label="Github" title="Look my projects" target="_blank" href="https://github.com/{{site.social.github}}">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </div>

  </main>

  <nav class="dark sections">
    <a aria-label="Blog" title="Blog" href="{{ 'blog' | relative_url }}">Blog</a>
    <a aria-label="Portfolio" title="Portfolio" href="{{ 'portfolio' | relative_url }}">Portfolio</a>
  </nav>
</body>

</html>